{
  "printWidth": 120,

  "tabWidth": 2,

  "bracketSpacing": true,

  "arrowParens": "always",

  "endOfLine": "auto",

  "singleQuote": false,

  "trailingComma": "none",

  "semi": false,

  "useTabs": false
}
